.nav-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  background-color: #4a148c;
}

.nav-link {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
}

.nav-link:hover {
  background-color: #6a1b9a;
  color: #fff;
}
