
/* Layout Container */
.teacher-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.teacher-layout-header {
  background: radial-gradient(circle, #4CAF50,#0a4d06,#a8c012);
  background-size: 300% 300%;
  animation: tieDye 16s ease infinite;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes tieDye {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.teacher-layout-header-left {
  display: flex;
  align-items: center;
}

.teacher-layout-cuet-logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.teacher-layout-cuet-logo:hover {
  transform: scale(1.1);
}

.teacher-layout-header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.teacher-layout-header-title {
  font-size: 1.5rem;
  font-weight: bold;
}



/* Header Right */
.teacher-layout-header-right {
  display: flex;
  align-items: center;
}


/* Notification Icon */
.teacher-layout-bell-icon-container {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.teacher-layout-bell-icon {
  display: block;
  transition: transform 0.3s ease-in-out;
}

@keyframes rotate-bell {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}

.teacher-layout-bell-icon.shake {
  animation: rotate-bell 0.5s infinite ease-in-out;
  transform-origin: 39px 10px;
}

.teacher-layout-notification-count {
  position: absolute;
  top: 10px;
  right: 12px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.teacher-layout-logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.teacher-layout-logout-btn:hover {
  background-color: #e53935;
  transform: translateY(-3px);
}
.teacher-layout-logout-btn:active {
  border: 2px solid rgb(41, 104, 25);
}












/* Navigation Container */
.teacher-layout-nav-container {
  background-color: #539556; /* Light green background */
  padding: 15px;
}

/* Horizontal Navigation */
.teacher-layout-nav {
  
  display: flex;
  justify-content: space-around; /* Space between each nav item */
  list-style: none;
}

.teacher-layout-nav-list {
  width: 90%;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teacher-layout-nav-item {
  margin-right: 20px; /* Space between items */
}

.teacher-layout-nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.teacher-layout-nav-link:hover {
  background-color: #9da507;
  transform: translate(-3px);
}
.teacher-layout-main{
  background: url('/go.jpg') no-repeat center center/cover fixed;
}